h1{
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
}

h4{
    text-align: center;
}
p{
    font-family: 'Reenie Beanie', cursive;
    font-size: large;
    margin-left: 3rem;
 }

form{
    margin-left: 3rem;

 }

.deleteBTN{
    margin-left: 15rem;
    background-color: darkgoldenrod;
    color: lightgray;
}

#submitBTN{
    background-color: teal;
}